@import "../../abstract/variables/colors";

.container {
    background: transparent url('../../../../public/images/login/background.svg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
}

//login screen for mobile
.containerMobile {
    background: transparent url('../../../../public/images/login/background-mobile-login.svg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.boxForDisplayPosition {
    width: 50%;
}

.boxContent {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    max-width: 464px;
    max-height: 322px;
    border-radius: 8px;
    margin: 0 auto;
    background: $gradient-popup;
    box-shadow: 0px 2px 11px -5px rgba(0, 0, 0, 0.1);
}

.contentLoginWelcome {
    border-radius: 0.25rem;
    padding: 82px 120px;
    text-align: center;
    width: 100%;

    h2 {
        background: $gradient-main;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }

    p {
        color: $gray-600;
        margin-bottom: 1.25rem;
    }

    //ENTRAR
    button {
        background: transparent;
        border: 2px solid $action-600; //gradient-main
        border-radius: 4px;
        color: $action-600;
        font-size: 14px;
        font-weight: 600;
        height: 4rem;
        margin-top: 1.25rem;
        padding: 8px 46px;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.98);
        }
    }
}

.contentLoginAccount {
    border-radius: 0.25rem;
    padding: 45px 80px;
    text-align: center;
    width: 100%;

    h2 {
        background: $gradient-main;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }

    //LOGAR
    button {
        background: $action-600;
        border-radius: 4px;
        border-color: transparent;
        color: white;
        font-size: 14px;
        font-weight: 600;
        height: 4rem;
        margin-top: 1.25rem;
        padding: 9px 52px;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.98);
        }
    }

    input {
        border: none;
        border-bottom: 1px solid $gray-400;
        font-size: 14px;
        font-weight: 400;
        height: 4rem;
        margin-bottom: 2rem;
        padding: 0 1.5rem;
        width: 100%;

        &::placeholder {
            color: $gray-300;
        }
    }
}

@media screen and (max-width:720px) {
    .container {
        background: transparent url('../../../../public/images/login/background-mobile.svg') no-repeat;
        background-size: cover;
    }

    .boxForDisplayPosition {
        display: none;
    }

    .boxContent {
        width: 100%;
        padding: 0 20px;
    }

    .contentLoginWelcome {
        padding: 85px 40px;

        button {
            width: 100%;
        }
    }

    .contentLoginAccount {
        button {
            width: 100%;
        }

        input {
            color: $gray-600;
        }
    }
}